<%= form_for(demerit) do |f| %>
  <% if demerit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demerit.errors.count, "error") %> prohibited this demerit from being saved:</h2>

      <ul>
      <% demerit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.text_field :student_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
