<p id="notice"><%= notice %></p>

<h1>Merits</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merits.each do |merit| %>
      <tr>
        <td><%= merit.description %></td>
        <td><%= merit.student %></td>
        <td><%= link_to 'Show', merit %></td>
        <td><%= link_to 'Edit', edit_merit_path(merit) %></td>
        <td><%= link_to 'Destroy', merit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merit', new_merit_path %>
