<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @merit.description %>
</p>

<p>
  <strong>Student:</strong>
  <%= @merit.student %>
</p>

<%= link_to 'Edit', edit_merit_path(@merit) %> |
<%= link_to 'Back', merits_path %>
